html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('https://res.cloudinary.com/djzf2mipa/image/upload/v1708676209/AiClass/bg2_hv9djj.png');
  background-size: cover;
  /* 배경 이미지가 브라우저 창에 맞게 크기 조정 */
  background-position: center;
  /* 배경 이미지가 브라우저 창의 중앙에 위치 */
  background-repeat: no-repeat;
  /* 배경 이미지가 반복되지 않도록 설정 */
}

.custom-color {
  background-color: #ad5700; /* 원하는 HEX 색상 코드 */
}
